/* line 1, ../src/main.scss */
.grid-block {
  box-shadow: 0 0 2px #000000 inset;
  min-height: 60px;
  text-align: center;
  width: 50%;
  line-height: 60px;
  vertical-align: middle;
}
/* line 9, ../src/main.scss */
.grid-block h4 {
  margin: 0;
}

/* line 14, ../src/main.scss */
.ui-li-static:before {
  position: absolute;
  left: 5px;
}

/* line 21, ../src/main.scss */
.list li .title {
  width: 150px;
  display: inline-block;
}
/* line 26, ../src/main.scss */
.list li .section {
  font-weight: normal;
  padding: 5px 10px;
  width: 30px;
}
/* line 32, ../src/main.scss */
.list li .bolter {
  width: auto;
}
/* line 36, ../src/main.scss */
.list li .grade {
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 4px;
  background: #666;
  color: #ddd;
}
/* line 45, ../src/main.scss */
.list li .bolts {
  width: 80px;
}
/* line 49, ../src/main.scss */
.list li .length {
  width: 100px;
}
/* line 54, ../src/main.scss */
.list p a {
  padding: 0 2px;
  margin: 0;
}
/* line 59, ../src/main.scss */
.list .ui-collapsible-content {
  background: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
/* line 65, ../src/main.scss */
.list .data {
  margin-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
/* line 69, ../src/main.scss */
.list .data .section {
  display: inline-block;
  margin-left: 20px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}
/* line 76, ../src/main.scss */
.list .data .bolter {
  border: 0;
}

/* line 82, ../src/main.scss */
ol.list {
  counter-reset: item;
  margin: 0;
  padding: 0;
}
/* line 86, ../src/main.scss */
ol.list li {
  counter-increment: item;
  padding-left: 30px;
  list-style-type: none;
  position: relative;
}
/* line 92, ../src/main.scss */
ol.list li:before {
  content: counter(item, decimal) ".";
  font-size: 0.8em;
  height: 40px;
  left: 32px;
  line-height: 40px;
  position: absolute;
  vertical-align: middle;
  z-index: 1000;
  text-align: right;
}
/* line 104, ../src/main.scss */
ol.list li.disabled .ui-icon {
  display: none;
}
/* line 109, ../src/main.scss */
ol.list h4 a {
  padding-left: 30px;
}
